
.leftside {
    width: 50%;
    float: left;
    margin-top: 7%;
}
h1 {
    font-size: 83px;
    font-family: sans-serif;
    font-weight: lighter;
}
p {
    font-size: 30px;
    font-family: arial;
}
.rightside {
    width: 50%;
    float: right;
    text-align: center;
    margin-top: 7%;
}
img{
    height: 470px;
    width: 650px;
    
}
.divleftbutton {
    float: left;
    margin-left: 20px;
    
}
.divrightbutton{
    float: right;
    margin-right: 640px;
    
}
button {
    width: 125px;
    height: 40px;
    border-radius: 10px;
    border-color: aliceblue;
}
.leftbutton{
    background-color: blueviolet;
    color: white;
}